Repository cezarm84/RideShare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @frontend-team-lead, @backend-team-lead, @devops-team-lead, @documentation-team-lead

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @your-username

# Frontend code owners
/frontend/ @frontend-team-lead

# Backend code owners
/backend/ @backend-team-lead

# CI/CD workflow owners
/.github/workflows/ @devops-team-lead

# Documentation owners
/docs/ @documentation-team-lead

fix(admin): improve admin dashboard data fetching with fallbacks
  frontend/src/pages/Admin/DriversManagement.tsx
  frontend/src/pages/Admin/RidesManagement.tsx
  frontend/src/pages/Admin/UsersManagement.tsx
Owners: @frontend-team-lead

fix(routes): ensure dashboard is shown at startup without redirection
  frontend/src/App.tsx
  frontend/src/components/common/AdminProtectedRoute.tsx
Owners: @frontend-team-lead

fix(auth): improve logout functionality and user profile display
  frontend/src/components/common/AdminProtectedRoute.tsx
  frontend/src/components/header/UserDropdown.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

fix(rides): fix ride creation form and improve error handling
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/services/ride.service.ts
Owners: @frontend-team-lead

fix(rides): ensure admin users can see all rides in the system
  app/api/endpoints/rides.py
  app/check_rides.py
  app/services/auth_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Map/RideDetailsMap.tsx
  frontend/src/components/RideSearch/RideList.tsx
  frontend/src/components/RideSearch/RideSearchForm.tsx
  frontend/src/components/auth/SignInForm.tsx
  frontend/src/components/ui/basic-select.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/pages/Admin/AdminRides.tsx
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/pages/RideShare/Rides.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.service.ts
  frontend/src/services/ride.service.ts
Owners: @your-username, @frontend-team-lead

feat(email): implement email testing system with Mailhog integration and admin interface
  frontend/public/docs/auth_flow.md
  frontend/public/docs/email_system.md
  frontend/public/docs/email_testing.md
  frontend/public/docs/index.md
  frontend/public/images/logo/auth-bg.svg
  frontend/public/images/logo/rideshare-logo-dark.svg
  frontend/public/images/logo/rideshare-logo-light.svg
  frontend/src/App.tsx
  frontend/src/components/auth/SignInForm.tsx
  frontend/src/components/common/AdminProtectedRoute.tsx
  frontend/src/components/ui/form/select/Select.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/use-toast.ts
  frontend/src/layout/AppHeader.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Admin/DriversManagement.tsx
  frontend/src/pages/Admin/EmailVerification.tsx
  frontend/src/pages/Admin/FakeEnterpriseUsers.tsx
  frontend/src/pages/Admin/TestEmails.tsx
  frontend/src/pages/Admin/UsersManagement.tsx
  frontend/src/pages/AuthPages/AuthPageLayout.tsx
  frontend/src/pages/EmailVerification.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/RideShare/Driver/DriverDashboard.tsx
  frontend/src/pages/RideShare/Driver/DriverDocuments.tsx
  frontend/src/pages/RideShare/Driver/DriverProfile.tsx
  frontend/src/pages/RideShare/Driver/DriverSchedule.tsx
  frontend/src/pages/RideShare/Driver/ReportIssue.tsx
  frontend/src/pages/RideShare/Driver/TimeOffRequests.tsx
  frontend/src/pages/RideShare/Driver/index.tsx
  frontend/src/pages/TestPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.service.ts
  frontend/src/services/driver.service.ts
  frontend/src/services/mockAuth.service.ts
  frontend/src/services/mockData/faqMockData.ts
  frontend/src/utils/dateUtils.ts
Owners: @frontend-team-lead

feat(email): implement comprehensive email system with verification, templates, and driver features
  README.md
  app/api/endpoints/admin_email.py
  app/api/endpoints/admin_test_emails.py
  app/api/endpoints/auth.py
  app/api/endpoints/driver_issue.py
  app/api/endpoints/driver_schedule.py
  app/api/endpoints/driver_time_off.py
  app/api/endpoints/drivers.py
  app/api/endpoints/email_verification.py
  app/api/endpoints/users.py
  app/api/router.py
  app/core/config.py
  app/core/security.py
  app/db/__init__.py
  app/main.py
  app/models/driver.py
  app/models/driver_issue.py
  app/models/driver_time_off.py
  app/models/test_email.py
  app/models/user.py
  app/schemas/driver_issue.py
  app/schemas/driver_schedule.py
  app/schemas/driver_time_off.py
  app/services/auth_service.py
  app/services/email_service.py
  app/templates/email/base_email.html
  app/templates/email/driver_assignment_email.html
  app/templates/email/password_reset_email.html
  app/templates/email/ride_confirmation_email.html
  app/templates/email/ride_reminder_email.html
  app/templates/email/verification_email.html
  app/templates/email/welcome_email.html
  docs/email_system.md
  requirements.txt
  tests/test_email_service.py
Owners: @your-username, @documentation-team-lead

docs: update README.md with current project status and features
  README.md
  app/api/endpoints/admin_email.py
  app/api/endpoints/driver_issue.py
  app/api/endpoints/driver_schedule.py
  app/api/endpoints/driver_time_off.py
  app/api/endpoints/drivers.py
Owners: @your-username

chore: move pre-commit config to .github directory and update .gitignore
  .github/.pre-commit-config.yaml
  .gitignore
  app/check_rides.py
Owners: @your-username

feat: improve mobile responsiveness for messaging and notifications
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatList.tsx
  frontend/src/components/header/NotificationDropdown.tsx
  frontend/src/components/ui/dropdown/Dropdown.tsx
  frontend/src/pages/Passenger/PassengerMessaging.tsx
Owners: @frontend-team-lead

feat: add chatbot functionality and update gitignore
  .gitignore
  app/api/endpoints/admin_support_tickets.py
  app/api/endpoints/chatbot.py
  app/api/router.py
  app/main.py
  app/models/messaging.py
  app/models/support_ticket.py
  app/models/user.py
  app/schemas/support_ticket.py
  app/services/chatbot_service.py
  frontend/src/App.tsx
  frontend/src/components/ChatbotWidget.tsx
  frontend/src/components/chat/Chatbot.tsx
  frontend/src/pages/RideShare/BookingProgress.tsx
  frontend/src/services/chatbot.service.ts
  frontend/src/services/websocketService.ts
  tatus
  test_messaging_api.py
  test_websocket.py
Owners: @your-username, @frontend-team-lead

feat: improve chatbot with shorter responses, fix feedback thumbs, add temporary chat channels
  app/services/chatbot_service.py
  frontend/src/components/chat/Chatbot.tsx
  frontend/src/services/chatbot.service.ts
Owners: @your-username, @frontend-team-lead

fix(chatbot): improve UI and fix scrolling issues
  frontend/src/components/chat/Chatbot.tsx
Owners: @frontend-team-lead

feat: comprehensive update to chatbot and UI
  app/api/endpoints/admin/__init__.py
  app/api/endpoints/admin/chatbot_feedback.py
  app/api/endpoints/chatbot.py
  app/api/router.py
  app/core/config.py
  app/db/base.py
  app/models/__init__.py
  app/models/chatbot.py
  app/models/user.py
  app/services/chatbot_service.py
  app/services/documentation_search_service.py
  erscezarOneDriveSkrivbordtest_appsRideShare
  frontend/src/App.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Admin/ChatbotFeedback.tsx
  frontend/src/pages/RideShare/BookingProgress.tsx
  frontend/src/pages/RideShare/Bookings.tsx
  frontend/src/pages/RideShare/CreateBooking.tsx
  frontend/src/services/FAQService.ts
  frontend/src/services/api.service.ts
  frontend/src/services/chatbot.service.ts
  requirements.txt
Owners: @your-username, @frontend-team-lead

feat: fix chatbot cancellation intent and enhance UI consistency
  app/api/endpoints/chatbot.py
  app/core/config.py
  app/services/ai_service.py
  app/services/chatbot_service.py
  docs/ai_chatbot_system.md
  docs/index.md
  docs/messaging_system.md
  docs/project_status.md
  docs/roadmap.md
  frontend/src/App.tsx
  frontend/src/components/chat/Chatbot.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/pages/RideShare/BookingProgress.tsx
  frontend/src/pages/RideShare/Driver/DriverProfile.tsx
  frontend/src/pages/RideShare/Driver/TimeOffRequests.tsx
  frontend/src/pages/RideShare/Enterprises.tsx
  frontend/src/pages/RideShare/__tests__/Enterprises.test.tsx
  frontend/src/services/FAQService.ts
  frontend/src/services/chatbot.service.ts
  frontend/src/services/driver.service.ts
  requirements.txt
  test_ai_chatbot.py
  test_payment_chatbot.py
  test_payment_quick.py
  test_ride_types.py
Owners: @your-username, @documentation-team-lead, @frontend-team-lead
