Repository cezarm84/RideShare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @frontend-team-lead, @backend-team-lead, @devops-team-lead, @documentation-team-lead

cicd hotfix
  .github/dependabot.yml
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  CI_CD_DOCS.md
Owners: @your-username, @devops-team-lead

cicd issue fix
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  frontend/cypress.config.ts
  frontend/jest.config.cjs
  frontend/src/App.tsx
  frontend/src/components/forms/BookingForm.tsx
  frontend/src/components/forms/DriverForm.tsx
  frontend/src/components/forms/HubForm.tsx
  frontend/src/components/forms/RideForm.tsx
  frontend/src/components/forms/__tests__/DriverForm.test.tsx
  frontend/src/components/ui/data-table/index.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/pages/RideShare/__tests__/Dashboard.test.tsx
  frontend/src/test-utils/jest-setup.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  requirements.txt
Owners: @devops-team-lead, @frontend-team-lead, @your-username

fix(ci): resolve frontend CI/CD workflow issues
  .github/workflows/frontend-ci-cd.yml
  frontend/src/components/forms/__tests__/DriverForm.test.tsx
  frontend/src/components/forms/__tests__/RideForm.additional.test.tsx
  frontend/src/components/forms/__tests__/RideForm.test.tsx
  frontend/src/services/booking.service.ts
  frontend/src/services/ride.service.ts
  frontend/tsconfig.json
Owners: @devops-team-lead, @frontend-team-lead

fix(ci): resolve frontend CI/CD workflow issues
  .github/workflows/frontend-ci-cd.yml
Owners: @devops-team-lead

resolve frontend CI/CD workflow issues
  .github/workflows/backend-ci-cd.yml
  .github/workflows/pull-request.yml
  requirements.txt
Owners: @devops-team-lead, @your-username

docs: add pre-commit setup instructions
  .pre-commit-config.yaml
  README.md
Owners: @your-username

style: apply consistent code formatting across codebase
  app/api/endpoints/rides.py
  app/api/routes/attachments.py
  app/api/routes/websocket.py
  app/models/enterprise.py
  app/models/message.py
  app/models/payment_method.py
  app/models/user.py
  app/models/vehicle.py
  app/services/message_service.py
  app/tasks/inspection_tasks.py
  app/tasks/travel_pattern_updater.py
  app/tests/test_analytics.py
  app/tests/test_bookings.py
  app/tests/test_matching.py
  app/tests/test_ride_types.py
  app/tests/test_rides.py
  app/tests/test_users.py
  backend-testing-plan.md
  deployment-strategy.md
  frontend-code-quality.md
  frontend-testing-plan.md
  migrations/backup_versions/1abf5d536cad_merge_branches.py
  migrations/backup_versions/21f37aff74c9_merge_three_heads.py
  migrations/backup_versions/33f84e3d6b83_add_message_attachments.py
  migrations/backup_versions/8c1b8acd7d26_merge_multiple_heads.py
  migrations/backup_versions/93dc3498f79f_add_is_superadmin_field_and_coordinate_.py
  migrations/versions/1abf5d536cad_merge_branches.py
  migrations/versions/32d34dde7e66_add_user_preferences_table.py
  migrations/versions/33f84e3d6b83_add_message_attachments.py
  migrations/versions/64c6fd146e9f_add_payment_methods_table.py
  migrations/versions/8c1b8acd7d26_merge_multiple_heads.py
  migrations/versions/93dc3498f79f_add_is_superadmin_field_and_coordinate_.py
  migrations/versions/a1b2c3d4e5f6_add_booking_passengers.py
  migrations/versions/eb25ad6dcc0d_update_payments_table.py
  scripts/check_migration_status.py
  scripts/create_vehicle_types.py
Owners: @your-username

test(frontend): fix failing tests in Drivers and Rides components
  .pre-commit-config.yaml
  frontend/src/components/forms/__tests__/RideForm.test.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/__tests__/AuthContext.test.tsx
  frontend/src/pages/RideShare/Drivers.tsx
  frontend/src/pages/RideShare/Rides.tsx
  frontend/src/pages/RideShare/__tests__/Drivers.test.tsx
  frontend/src/pages/RideShare/__tests__/Rides.test.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/driver.service.ts
  frontend/src/utils/test-utils.tsx
Owners: @your-username, @frontend-team-lead

fix(geocoding): implement automatic geocoding and fix excessive logging
  .gitignore
  Dockerfile
  Dockerfile.dev
  admin_user.json
  app/api/endpoints/admin_destinations.py
  app/api/endpoints/admin_enterprises.py
  app/api/endpoints/rides.py
  app/api/endpoints/users.py
  app/core/config.py
  app/core/geocoding.py
  app/core/geocoding_validation.py
  app/db/__init__.py
  app/db/base.py
  app/db/session.py
  app/main.py
  app/models/geocoding_cache.py
  app/models/location.py
  app/models/user.py
  app/models/user_travel_pattern.py
  app/schemas/user.py
  app/services/opencage_geocoding.py
  app/services/positionstack_geocoding.py
  app/services/user_service.py
  check_db.py
  docker-compose.prod.yml
  docker-compose.yml
  docs/api.md
  docs/api_documentation.md
  docs/api_usage.md
  docs/enterprise_operations.md
  docs/geocoding_service.md
  docs/opencage_geocoding.md
  docs/production_deployment.md
  migrations/env.py
  requirements.txt
  scripts/generate_fake_db.py
Owners: @your-username, @documentation-team-lead

Update rideshare-logo.svg
  frontend/public/images/logo/rideshare-logo.svg
Owners: @frontend-team-lead

feat(frontend): improve app stability, navigation, and content
  app/api/endpoints/contact.py
  app/api/endpoints/faqs.py
  app/core/config.py
  app/models/contact.py
  app/models/faq.py
  app/schemas/__init__.py
  app/services/contact_service.py
  app/services/faq_service.py
  docs/frontend_components.md
  frontend/public/docs/frontend_components.md
  frontend/public/service-worker.js
  frontend/src/components/Contact/__tests__/ContactForm.test.tsx
  frontend/src/components/FAQ/FAQAccordion.tsx
  frontend/src/components/FAQ/FAQCategory.tsx
  frontend/src/components/FAQ/FAQSearch.tsx
  frontend/src/components/FAQ/__tests__/FAQAccordion.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/LoadingSpinner.tsx
  frontend/src/services/ContactService.ts
  frontend/src/services/api.service.ts
Owners: @your-username, @documentation-team-lead, @frontend-team-lead

feat(rides): implement per-ride map display with improved UI
  frontend/src/components/Map/RideDetailsMap.tsx
  frontend/src/components/RideSearch/RideList.tsx
  frontend/src/components/RideSearch/RideSearchForm.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/pages/RideShare/Rides.tsx
  frontend/src/services/apiClient.ts
Owners: @frontend-team-lead

feat(ui): add reusable UI components for forms and date/time selection
  app/api/endpoints/faqs.py
  app/api/endpoints/rides.py
  app/db/__init__.py
  app/main.py
  app/schemas/faq.py
  app/schemas/ride.py
  app/services/faq_service.py
  app/services/ride_service.py
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/custom-calendar.tsx
  frontend/src/components/ui/custom-time-picker.tsx
  frontend/src/components/ui/date-picker-with-preview.tsx
  frontend/src/components/ui/form/enhanced-date-picker.tsx
  frontend/src/components/ui/form/enhanced-time-picker.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/time-picker-with-preview.tsx
Owners: @your-username, @frontend-team-lead

feat(rides): add ride booking and creation pages
  frontend/src/components/forms/RideForm.tsx
  frontend/src/pages/RideShare/BookingConfirmation.tsx
  frontend/src/pages/RideShare/Calendar.tsx
  frontend/src/pages/RideShare/CreateBooking.tsx
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/pages/RideShare/Dashboard.tsx
Owners: @frontend-team-lead

feat(faq): update FAQ components and add tests
  frontend/src/pages/FAQ/FAQ.tsx
  frontend/src/pages/FAQ/__tests__/FAQ.test.tsx
  frontend/src/pages/FAQ/__tests__/FAQSearch.test.tsx
  frontend/src/services/FAQService.ts
  frontend/src/services/__tests__/FAQService.test.ts
  frontend/src/services/__tests__/faqTestUtils.ts
  frontend/src/services/mockData/faqMockData.ts
Owners: @frontend-team-lead

chore(app): update app configuration and layout
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/service-worker.js
  frontend/src/App.tsx
  frontend/src/components/common/PageMeta.tsx
  frontend/src/config/constants.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ThemeContext.tsx
  frontend/src/layout/AppHeader.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/services/mockAuth.service.ts
  frontend/src/setupTests.js
  frontend/src/test-utils/jest-setup.ts
  frontend/vite.config.ts
Owners: @frontend-team-lead

chore(misc): add public files and redirects
  frontend/public/_redirects
  frontend/public/test-page.html
  frontend/public/test.html
Owners: @frontend-team-lead

feat(backend): update ride service and endpoints
  app/api/endpoints/rides.py
  app/schemas/ride.py
  app/services/ride_service.py
Owners: @your-username

chore(cleanup): remove unused files
  check_db.py
  cleanup.py
  copy-docs.ps1
  frontend/src/components/FAQ/FAQSearch.tsx
Owners: @your-username, @frontend-team-lead

fix(deps): downgrade react-leaflet to version compatible with React 18
  frontend/package.json
Owners: @frontend-team-lead

chore(deps): update package-lock.json for react-leaflet downgrade
  frontend/package-lock.json
Owners: @frontend-team-lead

fix(deps): downgrade react-router to version compatible with Node.js v18
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team-lead

fix(deps): pin React and React DOM to exact version 18.3.1
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team-lead

fix(router): update import paths for react-router-dom v6
  frontend/src/hooks/useGoBack.ts
  frontend/src/pages/OtherPage/NotFound.tsx
Owners: @frontend-team-lead

fix(build): resolve TypeScript and linting errors
  frontend/src/App.tsx
  frontend/src/components/Contact/ContactForm.tsx
  frontend/tsconfig.node.json
Owners: @frontend-team-lead

fix(router): update React Router imports and add future flags
  frontend/src/App.tsx
  frontend/src/components/common/PageBreadCrumb.tsx
  frontend/src/components/header/NotificationDropdown.tsx
  frontend/src/types/global.d.ts
Owners: @frontend-team-lead

fix(service-worker): improve service worker error handling and registration
  frontend/index.html
  frontend/public/service-worker.js
Owners: @frontend-team-lead

feat(rides): connect CreateRide component to backend API
  app/main.py
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/services/ride.service.ts
Owners: @your-username, @frontend-team-lead

refactor(tests): move tests from app/tests to root tests directory
  app/tests/__init__.py
  app/tests/debug_imports.py
  app/tests/test_auth.py
  tests/conftest.py
  tests/test_analytics_basic.py
  tests/test_bookings_basic.py
  tests/test_drivers_basic.py
  tests/test_matching_basic.py
  tests/test_messages_basic.py
  tests/test_ride_creation_comprehensive.py
  tests/test_ride_types_basic.py
  tests/test_rides_basic.py
  tests/test_users_basic.py
Owners: @your-username

fix(auth): use real auth service instead of mock service
  frontend/src/context/AuthContext.tsx
Owners: @frontend-team-lead

fix(auth): add debugging and credentials to API requests
  frontend/src/services/api.ts
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

fix(vite): configure HMR and API URL properly
  frontend/src/services/api.ts
  frontend/vite.config.ts
Owners: @frontend-team-lead

fix(vite): disable HMR and service worker to avoid WebSocket issues
  frontend/index.html
  frontend/vite.config.ts
Owners: @frontend-team-lead

fix(rides): use RideService instead of mock data
  frontend/src/pages/RideShare/Rides.tsx
Owners: @frontend-team-lead

fix(frontend): fix backend integration issues
  frontend/src/components/ui/textarea.tsx
  frontend/src/services/auth.service.ts
  frontend/src/services/ride.service.ts
Owners: @frontend-team-lead

fix(auth): use URLSearchParams for form data in login request
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

fix(frontend): update components to use real data from backend
  frontend/src/components/RideSearch/RideSearchForm.tsx
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/pages/RideShare/Rides.tsx
  frontend/src/services/auth.service.ts
  frontend/src/services/ride.service.ts
Owners: @frontend-team-lead

feat(frontend): update profile and signup to use real data from backend
  frontend/src/App.tsx
  frontend/src/components/UserProfile/UserAddressCard.tsx
  frontend/src/components/UserProfile/UserInfoCard.tsx
  frontend/src/components/UserProfile/UserMetaCard.tsx
  frontend/src/components/auth/SignUpFormNew.tsx
  frontend/src/context/UserProfileContext.tsx
  frontend/src/pages/AuthPages/SignUp.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

feat(frontend): add custom toast component and fix signup form
  frontend/src/components/auth/SignUpFormNew.tsx
  frontend/src/components/ui/toast/Toast.tsx
  frontend/src/context/ToastContext.tsx
  frontend/src/main.tsx
Owners: @frontend-team-lead

feat(signup): add terms modal and form data persistence
  frontend/src/components/auth/SignUpFormNew.tsx
  frontend/src/components/ui/modal/TermsModal.tsx
Owners: @frontend-team-lead

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @your-username

# Frontend code owners
/frontend/ @frontend-team-lead

# Backend code owners
/backend/ @backend-team-lead

# CI/CD workflow owners
/.github/workflows/ @devops-team-lead

# Documentation owners
/docs/ @documentation-team-lead
