Repository cezarm84/RideShare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @frontend-team-lead, @backend-team-lead, @devops-team-lead, @documentation-team-lead

fix(signup): improve terms modal with agree button and fix navigation
  frontend/src/components/auth/SignUpFormNew.tsx
  frontend/src/components/ui/modal/TermsModal.tsx
Owners: @frontend-team-lead

feat(signup): enforce reading terms before agreeing
  frontend/src/components/auth/SignUpFormNew.tsx
  frontend/src/components/ui/modal/TermsModal.tsx
Owners: @frontend-team-lead

fix(signup): fix checkbox behavior for terms agreement
  frontend/src/components/auth/SignUpFormNew.tsx
Owners: @frontend-team-lead

fix(signup): create dedicated TermsCheckbox component for better control
  frontend/src/components/auth/SignUpFormNew.tsx
  frontend/src/components/auth/TermsCheckbox.tsx
Owners: @frontend-team-lead

fix(auth): add signup function to AuthContext
  frontend/src/context/AuthContext.tsx
Owners: @frontend-team-lead

fix(auth): update signup request with required fields
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

feat(profile): improve address card with better separation between home and work addresses
  frontend/src/components/UserProfile/UserAddressCard.tsx
Owners: @frontend-team-lead

feat(rides): increase available seats limit from 10 to 50
  frontend/src/components/forms/RideForm.tsx
  frontend/src/pages/RideShare/CreateBooking.tsx
  frontend/src/pages/RideShare/CreateRide.tsx
Owners: @frontend-team-lead

feat(vehicle-types): fetch vehicle types from database instead of using mock data
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/services/ride.service.ts
  frontend/src/services/vehicleType.service.ts
Owners: @frontend-team-lead

fix(reference-data): add mock reference data as fallback for ride creation
  frontend/src/pages/RideShare/CreateRide.tsx
  frontend/src/services/mockReferenceData.ts
  frontend/src/services/ride.service.ts
Owners: @frontend-team-lead

fix(vehicle-types): add capacity field to VehicleType model and update reference data endpoint
  app/api/endpoints/rides.py
  app/models/vehicle.py
Owners: @your-username

fix(map): handle missing coordinates in RideDetailsMap component
  frontend/src/components/Map/RideDetailsMap.tsx
  frontend/src/components/RideSearch/RideList.tsx
Owners: @frontend-team-lead

fix(map): add missing coordinates and improve map error handling
  frontend/src/components/Map/RideDetailsMap.tsx
Owners: @frontend-team-lead

feat(api): add reference-data endpoint for ride creation
  app/api/endpoints/reference_data.py
  app/api/router.py
  frontend/src/services/ride.service.ts
Owners: @your-username, @frontend-team-lead

fix(ui): fix duplicate keys in CreateRide select components
  frontend/src/pages/RideShare/CreateRide.tsx
Owners: @frontend-team-lead

fix(ui): fix duplicate keys in vehicle types and enterprises select components
  frontend/src/pages/RideShare/CreateRide.tsx
Owners: @frontend-team-lead

fix(ui): fix duplicate keys in time picker and ride type select components
  frontend/src/components/ui/custom-time-picker.tsx
  frontend/src/pages/RideShare/CreateRide.tsx
Owners: @frontend-team-lead

fix(ui): fix duplicate keys in select components by adding unique prefixes and indices
  frontend/src/pages/RideShare/CreateRide.tsx
Owners: @frontend-team-lead

feat(terms): update terms and conditions page with comprehensive legal content
  frontend/src/pages/Terms.tsx
Owners: @frontend-team-lead

feat(profile): enhance user profile context with address fields and profile completion check
  frontend/src/context/UserProfileContext.tsx
Owners: @frontend-team-lead

feat(api): enhance ride reference data endpoint with destinations and enterprises
  app/api/endpoints/reference_data.py
Owners: @your-username

chore(deps): add @radix-ui/react-tabs and update dependencies
  frontend/package-lock.json
  frontend/package.json
Owners: @frontend-team-lead

feat(ui): add alert component for notifications and error messages
  frontend/src/components/ui/alert.tsx
Owners: @frontend-team-lead

chore(git): update gitignore to exclude frontend build files
  .gitignore
Owners: @your-username

fix(ui): fix duplicate keys in select components by using unique identifiers
  frontend/src/pages/RideShare/CreateRide.tsx
Owners: @frontend-team-lead

fix(cors): add localhost:5175 to allowed origins for CORS
  app/main.py
Owners: @your-username

feat(admin): implement comprehensive admin dashboard with management sections for all entities
  frontend/src/App.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Admin/DestinationsManagement.tsx
  frontend/src/pages/Admin/DriversManagement.tsx
  frontend/src/pages/Admin/EnterprisesManagement.tsx
  frontend/src/pages/Admin/HubsManagement.tsx
  frontend/src/pages/Admin/RidesManagement.tsx
  frontend/src/pages/Admin/SystemSettings.tsx
  frontend/src/pages/Admin/UsersManagement.tsx
  frontend/src/pages/Admin/VehicleTypesManagement.tsx
Owners: @frontend-team-lead

fix(ui): add missing Switch component and TableHead component
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/table/index.tsx
Owners: @frontend-team-lead

feat(ui): add Dialog component for admin modals
  frontend/src/components/ui/dialog.tsx
Owners: @frontend-team-lead

fix(cors): add localhost:5178-5180 to allowed origins
  app/main.py
Owners: @your-username

fix(auth): add mock admin login and fix admin menu visibility
  frontend/src/layout/AppSidebar.tsx
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

fix(auth): improve admin page access and authentication flow
  frontend/src/App.tsx
  frontend/src/components/auth/SignInForm.tsx
  frontend/src/components/common/AdminProtectedRoute.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

feat(auth): redirect to sign-in page on app start
  frontend/src/App.tsx
  frontend/src/components/auth/SignInForm.tsx
  frontend/src/components/common/AdminProtectedRoute.tsx
  frontend/src/layout/AppSidebar.tsx
Owners: @frontend-team-lead

feat(admin): add admin stats endpoint and improve mock data handling
  app/api/endpoints/admin_stats.py
  app/api/router.py
  frontend/src/pages/Admin/AdminDashboard.tsx
  frontend/src/pages/Admin/HubsManagement.tsx
Owners: @your-username, @frontend-team-lead

fix(navigation): allow app navigation without sign-in
  frontend/src/App.tsx
  frontend/src/components/auth/SignInForm.tsx
  frontend/src/components/common/AdminProtectedRoute.tsx
  frontend/src/layout/AppSidebar.tsx
Owners: @frontend-team-lead

fix(navigation): remove automatic redirects to sign-in page
  frontend/src/components/RideSearch/RideList.tsx
  frontend/src/pages/RideShare/BookingConfirmation.tsx
  frontend/src/pages/RideShare/Calendar.tsx
  frontend/src/pages/RideShare/CreateBooking.tsx
  frontend/src/services/api.ts
Owners: @frontend-team-lead

fix(auth): improve mock admin login persistence
  frontend/src/context/AuthContext.tsx
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

fix(auth): prioritize real authentication over mock data
  frontend/src/services/api.ts
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

test: add test pages to diagnose redirection issue
  frontend/public/test-redirect.html
  frontend/src/App.tsx
  frontend/src/pages/TestRedirect.tsx
Owners: @frontend-team-lead

fix(auth): improve session persistence across page refreshes
  frontend/src/context/AuthContext.tsx
  frontend/src/services/auth.service.ts
Owners: @frontend-team-lead

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @your-username

# Frontend code owners
/frontend/ @frontend-team-lead

# Backend code owners
/backend/ @backend-team-lead

# CI/CD workflow owners
/.github/workflows/ @devops-team-lead

# Documentation owners
/docs/ @documentation-team-lead
